<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <h1>
        <%- messages() %>
    </h1>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
            <div class="items-container">
                <div class="form-container">
                    <form action="/account/register" method="post" class="form">
                        <div class="input-container">
                            <label for="first-name-input">First name</label>
                            <input type="text" name="account_firstname" id="first-name-input" placeholder="First name"
                                required>
                        </div>
                        <div class="input-container">
                            <label for="last-name-input">Last name</label>
                            <input type="text" name="account_lastname" id="last-name-input" placeholder="Last name"
                                required>
                        </div>
                        <div class="input-container">
                            <label for="email-input">Email</label>
                            <input type="email" name="account_email" id="email-input" placeholder="E-mail" required>
                        </div>
                        <div class="input-container">
                            <label for="password">Password</label>
                            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital
                                letter and 1
                                special character</span>
                            <!-- Must have 1 capital letter, 1 number and special character -->
                            <input type="password" name="account_password" min="12" id="password"
                                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                                placeholder="Password" required>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="button">REGISTER</button>
                        </div>
                    </form>
                </div>
            </div>
            <% } else { res.redirect('/') } %>