<!-- Add here the body -->
<div id="welcome">
    <h1>Welcome to CSE Motors!</h1>
</div>

<%- messages() %>
    <!-- Container for the DeLorean image -->
    <div id="delorean-cta">
        <div id="cta-container">
            <div id="vehicle-name">
                <span>DMC Delorean</span>
            </div>
            <div id="vehicle-features">
                <span>3 Cup holders Superman doors Fuzzy dice!</span>
            </div>
            <button id="button-cta">Own Today</button>
        </div>
    </div>

    <div id="delorean-parts">
        <div class="delorean-container" id="upgrades-container">
            <div class="upgrades-container-title">
                <span>Delorean Upgrades</span>
            </div>
            <div id="delorean-items-container">
                <div class="delorean-item">
                    <div class="image-container">
                        <img src="/images/upgrades/flux-cap.png" alt="">
                    </div>
                    <div class="part-description">
                        <a href="">Flux Capacitor</a>
                    </div>
                </div>
                <div class="delorean-item">
                    <div class="image-container">
                        <img src="/images/upgrades/flame.jpg" alt="">
                    </div>
                    <div class="part-description">
                        <a href="">Flame Decals</a>
                    </div>
                </div>
                <div class="delorean-item">
                    <div class="image-container">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="">
                    </div>
                    <div class="part-description">
                        <a href="">Bumper Stickers</a>
                    </div>
                </div>
                <div class="delorean-item">
                    <div class="image-container">
                        <img src="/images/upgrades/hub-cap.jpg" alt="">
                    </div>
                    <div class="part-description">
                        <a href="">Hub Caps</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="delorean-container" id="delorean-reviews-container">
            <div class="upgrades-container-title">
                <span>DMC Delorean Reviews</span>
            </div>
            <div id="reviews">
                <ul>
                    <li>"So fast it's almost like travelling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (4/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's living and I love it!" (4.5/5)</li>
                </ul>
            </div>
        </div>
    </div>