

:root {
  --dark-300: #333;
  --dark-600: #777;
  --primary: #0FB4D4;
  --light: #FFF;
}


/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Noto Serif', serif; */
}


body {
  background-image: url("/images/site/small_check.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0px;
}

#section {
  padding: 2rem 1rem 1rem 1rem;
  border: 4px solid var(--primary);
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
  max-width: 45rem;
  background: var(--light);

  display: flex;
  flex-direction: column;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* Header id */
#top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--dark-300);
}


.siteName a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-300);
}

#tools a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark-300);
}

/* navigation.ejs file */
.header-nav {
  background-color: var(--dark-300);
  color: var(--light);
  width: 100%;
}

.header-nav ul {
  text-decoration: none;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-nav ul li {
  text-decoration: none;
  padding: 0.5rem 0px;
  width: 100%;
  text-align: center;
}

.header-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.header-nav ul li:hover {
  cursor: pointer;
}


/* Delorean */
main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Noto Serif', serif;
}

#delorean-cta {
  position: relative;
  background-image: url('/images/vehicles/delorean.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 18.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#cta-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  padding: 0.5rem;
  width: 12.5rem;
  background: var(--light);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


#vehicle-name span{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
}


#vehicle-features {
  color: var(--primary);
  font-size: 1.25rem;
}

#button-cta {
  background-color: var(--primary);
  padding: 1rem 2.5rem;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid var(--dark-600);
  margin-top: 1rem;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0.05); */
}

#delorean-parts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.delorean-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.upgrades-container-title span{
  font-size: 1.25rem;
  font-weight: bold;
}

#delorean-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}

.image-container {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.625rem;
}

.part-description {
  display: flex;
  justify-content: center;
}

/* #reviews ul li {
  display: block;
  flex-direction: column;
  gap: 8px;
} */

#reviews ul li {
  margin-bottom: 0.875rem;
}

footer {
  margin-top: 2rem;
}


#inv-display {
  list-style: none;
  display: grid;
  grid-template-columns: 1;
  gap: 16px;
}

#inv-display li a {
  text-decoration: none;
  color: inherit;
}

.namePrice {
  display: flex;
  flex-direction: column;
}


@media(max-width: 576px) {

  html {
    font-size: 62.5%;
  }

  body {
    padding: unset;
  }
  
  #section {
    max-width: unset;
    height: 100vh;
  }

  #delorean-cta {
    background-size: 23rem; /* smaller model available */
    width: 100%;
    min-height: unset;
    height: 12.5rem;
    /* max-height: 140px; */
  }

  #cta-container {
    left: 0px;
    top: 50%;
    transform: translateY(-60%);
    padding: 0px;
    width: unset;
    max-width: 8.75rem;
  }

  #vehicle-name span {
    font-size: 1rem;
  }

  #vehicle-features span {
    font-size: 0.875rem;
    width: fit-content;
  }

  #button-cta {
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;
  }

  .delorean-container {
    gap: 1rem;
    margin-left: unset;
  }

  #delorean-parts {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  #upgrades-container {
    order: 2;
  }

  #delorean-reviews-container {
    order: 1;
  }

  #reviews ul li {
    margin-left: 2rem;
  }
  .image-container img {
    height: 5rem;
    width: 4rem;
  }


  footer {
    margin: unset;
  }
}