<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <h1>
            <%= messages() %>
        </h1>
        <%# messages() %>
            <%- grid %>