<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>
    <h1>
      <%= messages() %>
    </h1>
    <% if (errors) { %>
      <ul class="notice">
        <% errors.array().forEach(error=> { %>
          <link>
          <%= error.msg %>
            </li>
            <% }) %>
      </ul>
      <% } %>

        <a href="/inv/classification">Add new Classification</a>
        <a href="/inv/create">Add new Inventory</a>